<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="site" value="https://www.citywidetech.co.nz/Postback.aspx" />
    <add key="paystationId" value="614687" />
    <add key="gatewayId" value="PAYSTATION" />
    <add key="testMode" value="N" />
    <add key="adminEmail" value="online@citywidetech.co.nz" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>

    </security>
    <rewrite>
        <rules>
            <rule name="Redirect HTTP to HTTPS" stopProcessing="true">
                <match url="(.*)"/>
                <conditions>
                    <add input="{HTTPS}" pattern="^OFF$"/>
                </conditions>
                <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther"/>
            </rule>
        </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true"/>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" />
    <httpRuntime maxRequestLength="51200" />
    <!--<sessionState
        mode="StateServer"
        stateConnectionString="tcpip=127.0.0.1:42424"
        timeout="500"
        >
    </sessionState>-->
    <globalization culture="en-NZ" uiCulture="en-NZ" />
    <sessionState timeout="99" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="online@citywidetech.co.nz">
        <network host="mail.citywidetech.co.nz" password="City@o7%W1de" port="25" userName="online" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <remove name="LocalSqlServer" />

    <add name="b2aSQLConnection" connectionString="Data Source=mssql3.openhost.net.nz;User id=cyetekcity;Password=A9seqxtf7;Integrated Security=false;Initial Catalog=cyetekcity;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>